NEXT_PUBLIC_APPWRITE_PROJECT_ID=673719f0000ceacb0691
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_Database_ID=6821c6520030e4eef1c0
NEXT_PUBLIC_APPWRITE_CONSUMPTION_COLLECTION_ID=6821c666003a8060665e
NEXT_PUBLIC_APPWRITE_VARIETIES_COLLECTION_ID=6821c80300134a97e00a
NEXT_PUBLIC_APP_URL=https://kaffeetracker.local
NEXT_PUBLIC_ADMIN_ID=6821cfa89476dadac652